@import url("https://fonts.googleapis.com/css?family=Spinnaker");

:root {
  --accentcolor: #D6ED17FF;
}

body {
  /*background-image: url("/static/SkyDaddy.png");*/
  background: #606060FF;
  background-size: cover;
  object-fit: contain;
  color: whitesmoke;
  font-family: lato,sans-serif;
  text-align: center;
  margin: 10% auto;
  display: table;
}


form {
  text-align: left;
  color: black;
}

#file-upload {
  position: absolute;
  left: -9999px;
}

label[for="file-upload"] {
  padding: 0.5em;
  display: inline-block;

  background: var(--accentcolor);
  cursor: pointer;
}
label[for="file-upload"]:hover {
  background: red;
}

#file-submit{
  position: absolute;
  left: -9999px;
}

label[for="file-submit"] {
  padding: 0.5em;
  display: inline-block;
  background: var(--accentcolor);
  cursor: pointer;
}
label[for="file-submit"]:hover {
  background: red;
}
#file-download{
  position: absolute;
  left: -9999px;

}

label[for="file-download"] {
  padding: 0.5em;
  display: inline-block;
  background: var(--accentcolor);
  cursor: pointer;
    color: black;
}
label[for="file-download"]:hover {
  background: red;
}


#filename {
  padding: 0.5em;
  float: left;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
    color: black;
  background: #ffffff;
}
#downloadcode {
  padding: 0.5em;
  float: left;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  background: white;
}


